@font-face {
    font-family: 'AbhayaLibreBold';
    src: url('/public/fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.ttf');
}

@font-face {
    font-family: 'AbhayaLibre';
    src: url('/public/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf');
}


@font-face {
    font-family: 'NeogroteskEssBold';
    src: url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Bold.ttf'),
        url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Bold.otf');
}

@font-face {
    font-family: 'NeogroteskEss';
    src: url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Regular.ttf'),
        url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Regular.otf');
}


@font-face {
    font-family: 'FilsonPro';
    src: url('/public/fonts/Filson_Pro/FilsonProRegular.otf'),
        url('/public/fonts/Filson_Pro/FilsonProMedium.otf');
}

@font-face {
    font-family: 'FilsonProBold';
    src: url('/public/fonts/Filson_Pro/FilsonProBold.otf');
}

