@font-face {
    font-family: 'AbhayaLibreBold';
    src: url('/public/fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.ttf') format(ttf);
}

@font-face {
    font-family: 'AbhayaLibre';
    src: url('/public/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf') format(ttf);
}


@font-face {
    font-family: 'NeogroteskEssBold';
    src: url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Bold.ttf') format(ttf),
        url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Bold.otf') format(otf);
}

@font-face {
    font-family: 'NeogroteskEss';
    src: url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Regular.ttf') format(ttf),
        url('/public/fonts/Neogrotesk_Ess/NeogroteskEss-Regular.otf') format(otf);
}


@font-face {
    font-family: 'FilsonPro';
    src: url('/public/fonts/Filson_Pro/FilsonProRegular.otf') format(otf);
}

@font-face {
    font-family: 'FilsonProBold';
    src: url('/public/fonts/Filson_Pro/FilsonProBold.otf') format(otf);
}

