.card {
    width: 320px;
    margin: 0 8px;

    @media screen and (max-width: 768px) {
        width: 240px;
    }

    &__content {

        &-image {
            width: 100%;
            padding: 10px 13px;
            aspect-ratio: 1;
            height: auto;
            position: relative;
            margin-bottom: 15px;
            overflow: hidden;
            border-radius: 15px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: $color_bg_primary;
            transition: aspect-ratio .3s;

            &:hover {
                aspect-ratio: 4/5;
                transition: aspect-ratio .3s;
            }
        }

        &-info {
            width: 100%;
            display: flex;
            flex-flow: wrap;
        }
    }

    &__image {
        top: -4px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        object-fit: cover;
        position: absolute;
        z-index: 0;
    }

    &__offer {
        top: 10px;
        right: 13px;
        padding: 4px 10px;
        position: absolute;
        border-radius: 13px;
        background-color: $color_focus;
    }

    &__btn {
        width: 100%;
        padding: 12px 0;
        border: none;
        border-radius: 20px;
        box-sizing: border-box;
        z-index: 2;
        font-weight: 700;
        cursor: pointer;
        color: $color_primary;
        font-size: $txt_font_m;
        box-shadow: 0 0 5px rgba($color: $color_txt_secondary, $alpha: .2);
        background-color: $color_light;
        transition: all 0.3s ease;

        &:hover {
            color: $color_focus;
            box-shadow: none;
            transition: all 0.3s ease;
        }
    }

    &__title {
        width: 100%;
        font-weight: 700;
        font-size: $txt_font_l;
        position: relative;
    }

    &__qualify {
        width: 70%;
        display: flex;
        margin-top: 8px;
    }

    &__assessment {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-right: 4px;
    }

    &__valuations {
        font-weight: 400;
        font-family: 'FilsonPro';
        font-size: $txt_font_x;
        color: $color_txt_secondary;
    }

    &__price {
        flex: 1;
        display: flex;
        margin-top: 8px;

        &-prev {
            text-decoration: line-through;
            text-decoration-thickness: 1px;
            color: $color_txt_secondary;
            margin-right: 8px;
        }
    }
}


.assessment{
    &__item { 
        width: auto;
        height: auto;
        margin-right: 2px;

        .active {
            background-color: $color_focus;
        }
    }

    &__icon {
        width: 17px;
        height: 17px;
        display: block;
        background-color: $color_bg_gray;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
}

.btn {
    &__primary {
        padding: 12px 32px;
        border: none;
        cursor: pointer;
        font-size: $txt_font_x;
        color: $color_light;
        font-weight: 700;
        border-radius: 24px;
        background-color: $color_primary;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color_bg_primary;
            transition: background-color 0.3s ease;
        }
    }
}