.carousel {
    width: 100%;
    padding-top: 31px;
    margin: auto 5px;

    &__head {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        align-items: flex-end;
        justify-content: space-around;

        @media (max-width: $screen_media) {
            margin-left: 30px;
            justify-content: flex-start;
        }
    }

    &__slider {
        width: 100%;
        position: relative;
        padding: 50px 0;
        overflow-x: hidden;
        height: 488px;

        &-content {
            transition: left 1s;
            position: absolute;
            display: inline-flex;

            &:hover {
                transition: left 1s;
            }
        }
    }

    &__more {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    &__title {
        margin: 0;
        width: 100%;
        max-width: 500px;
        font-size: $txt_font_lg;
        font-family: 'AbhayaLibre';
        position: relative;

        &::before {
            content: "";
            top: 37px;
            left: -24px;
            width: 70px;
            height: 24px;
            position: absolute;
            z-index: -1;
            border-radius: 12px;
            background-color: $color_bg_secondary;

            @media (max-width: $screen_media) {
                top: 17px;
                left: 0;
            }
        }

        @media (max-width: $screen_media) {
            font-size: $txt_font_m_lg;
        }
    }

    &__actions {
        margin-top: 23px;
        width: 100%;
        max-width: 240px;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $screen_media) {
            justify-content: flex-start;
        }
    }

    &__action {
        width: 70px;
        height: 24px;
        border: none;
        position: relative;
        box-shadow: 0px 0px 20px rgba($color: $color_txt_secondary, $alpha: 0.25);
        border-radius: 25px;
        background-color: $color_bg_primary;
        cursor: pointer;
        transition: all .3s;

        &:first-child {
            margin-right: 8px;

            .carousel__action-icon {
                right: auto;
                left: calc(50% - 19.75px);
            }

            &:active {
                .carousel__action-icon {
                    transition: all .3s;
                    left: 0;
                }
            }
        }

        &:hover {
            background-color: $color_primary;
            transition: all .3s;
        }

        &:active {
            .carousel__action-icon {
                transition: all .3s;
                right: 0;
            }
        }

        &-icon {
            top: calc(50% - 19.75px);
            right: calc(50% - 19.75px);
            width: 39.5px;
            height: 39.5px;
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $color_light;
            transition: all .5s;

            &::after {
                content: "";
                width: 6px;
                height: 10px;
                position: absolute;
                background-color: $color_primary;
                clip-path: polygon(0 0, 35% 0, 100% 50%, 35% 100%, 0 100%, 65% 50%);
            }

            &-prev {
                transform: scaleX(-1);
            }
        }
    }

}