$color_primary: #EFA693;
$color_secondary: #CAF0FF;
$color_focus: #FFC658;
$color_bg_primary: #FFDCD3;
$color_bg_secondary: #D1F1FF; 
$color_txt_primary: #444950;
$color_txt_secondary: #939393;

$txt_font_lg: 44px;
$txt_font_l: 18px;
$txt_font_m: 15px;
$txt_font_x: 14px;
$txt_font_xs: 13px;
$txt_font_m_lg: 28px;
$txt_font_m_xs: 12px;

body {
    margin: 0;
}

.app {
    width: 100%;
    display: flex;

    &__container { 
        margin: 0 auto;
        width: 100%;
        max-width: 90rem;
        overflow-x: hidden;
    }
}

@import './styles/fonts.scss';
@import './styles/components.scss';

